/* Tuesday 16th of April 2019 Class Assignment CSS work can go here */

header h1 {

    padding-left: 60px;

}

.logo {
    position: fixed;
    border: thin solid #333;
    padding-top: 4px;
    box-sizing: border-box;
    background-color: #777;
    color: #FFF;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    /* 
  background: url('https://dumielauxepices.net/sites/default/files/steampunk-clipart-industrial-wheel-779737-1678768.png');
  background-size: contain;
  background-position: center;
  */
    text-align: center;
    box-shadow: 5px 5px 5px #aaaaaa;
    cursor: pointer;
    /*
  transition: background-color .5s ease-in-out;
  transition: color .5s ease-in-out;
 
  animation: pulser 2s infinite;
  transition: pulser .5s ease-in-out; 

  animation: moveShadow 20s infinite;
  transition: box-shadow 15s ease-in-out;
  
    */

}

.logo:hover {
    color: #333;
    background-color: #FFF;
    box-shadow: 1px 1px 5px #777;
    /*
  animation: bounce 2s 1;
  */
}


@keyframes moveShadow {
    0% {}

    25% {
        box-shadow: -3px 3px 5px rgb(0, 255, 0);
    }

    50% {
        box-shadow: -3px -3px 5px rgb(255, 0, 0);
    }

    50% {
        box-shadow: 3px -3px 5px rgb(0, 0, 255);
    }

    100% {}
}


@keyframes pulser {
    0% {
        box-sizing: unset;
    }

    75% {
        padding: 10px;
        margin: -5px;
        box-sizing: unset;
    }

    100% {
        box-sizing: unset;
    }
}

@keyframes spinLogo {
    0% {}

    100% {
        transform: rotate(359deg);
    }
}

/*
  Or, you could always tell the animation to run twice 
  (or any even number of times) and tell the direction 
  to alternate.
*/

@keyframes fontbulger {
    0% {
        font-size: 10px;
    }

    30% {
        font-size: 15px;
    }

    100% {
        font-size: 12px;
    }
}

/*
  If an animation has the same starting and ending 
  properties, one way to do that is to comma-separate 
  the 0% and 100% value.
*/

/*

#logo {
   -webkit-animation: NAME-YOUR-ANIMATION 5s infinite; Safari 4+ 
  -moz-animation:    NAME-YOUR-ANIMATION 5s infinite;  Fx 5+ 
  -o-animation:      NAME-YOUR-ANIMATION 5s infinite;  Opera 12+ 
  animation:         NAME-YOUR-ANIMATION 5s infinite;  IE 10+, Fx 29+ 
}

@-webkit-keyframes NAME-YOUR-ANIMATION {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes NAME-YOUR-ANIMATION {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes NAME-YOUR-ANIMATION {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes NAME-YOUR-ANIMATION {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

*/
